.none-sm {
  display: none;
}

@media only screen and (min-width: 768px) {
  .flex-md {
    display: flex;
  }
  .block-md {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .flex-lg {
    display: flex;
  }
  .block-lg {
    display: block;
  }
}
